# directories usually start with dots.

IMAGE_STORAGE_DIR = ./images/40_images
PERSIST_STORAGE_DIR = ./persist_store

STORE_MODE = store
QUERY_MODE = query

# model usage switches
USE_YOLO = True
USE_VIT_IN_YOLO = True


USE_DETR = True
USE_VIT = True
USE_DETR_PANOPTIC = True
USE_GROUNDING_DINO = True